.columns {
    display: flex;
    width: 100%;
}

.columns__column {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    min-height: 100%;
    padding: 126px 15px 78px;
}

.columns__column_mono {
    display: none;
}

.columns__column_positive {
    background: #f4f5fb;
    align-items: flex-end;
}

.columns__column_negative {
    background: #fff0f0;
    align-items: flex-start;
}

.columns__column_positive .comment {
    background: #ebedf9;
}

.columns__column_negative .comment {
    background: #fee1e1;
}

.columns__no-msgs {
    display: none;
    text-align: center;
    padding: 40px;
}

.columns__loader {
    position: fixed;
    top: 50%;
    margin: -16px 0 0 -16px;
}

.columns__column_positive .columns__loader {
    left: 25vw;
}

.columns__column_negative .columns__loader {
    left: 75vw;
}

.columns__pagination-loader {
    margin: 40px 20px 30px;
}
