.comment {
    margin: 5px 5px 10px 5px;
    padding: 15px 17px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    font-size: 16px;
    min-width: 200px;
    max-width: 480px;
    overflow: hidden;
}

.comment__header {
    display: flex;
    white-space: nowrap;
}

.comment__author {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment__text {
    line-height: 22px;
}

.comment__show-full {
    line-height: 22px;
}

.comment__text-wrap {
    margin-top: 6px;
    word-wrap: break-word;
    max-height: 110px;
    overflow: hidden;
}

.comment__text_big {
    min-height: 88px;
    max-height: 88px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}

.comment__text-wrap_loose {
    max-height: 660px;
}

.comment__text-wrap_loose .comment__text_big {
    -webkit-line-clamp: 30;
    max-height: 660px;
}

.comment__text-action {
    display: block;
    color: #666;
    text-decoration: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.comment__text-action:hover {
    color: #333;
}

.comment__text-action:active {
    color: #000;
}

.comment__action-bar {
    display: flex;
    margin-top: 12px;
    line-height: 24px;
}

.comment__like {
    display: flex;
    cursor: pointer;
    position: relative;
    left: -5px;
    user-select: none;
}

.comment__like .heart {
    width: 24px;
    height: 24px;
}

.comment__like:hover .heart {
    transform: scale(1.15);
}

.comment__likes-count {
    color: #333;
    font-size: 14px;
    padding: 0 4px 0 2px;
}

.comment__reply {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 8px;
    color: #333;
    margin-top: 1px;
}

.comment__reply:hover {
    color: #000;
}

.comment__date {
    margin-left: 8px;
    cursor: help;
}

.comment__date:before {
    content: '•';
    display: inline-block;
    margin-right: 8px;
}

.comment__replies {
    line-height: 24px;
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-top: 8px;
    color: #065fd4;
}

.comment__replies-container {
    display: none;
    margin-top: 12px;
}

.comment__replies_unfolded .unfold {
    transform: rotate(180deg);
}

.comment__replies_unfolded + .comment__replies-container {
    display: block;
}

.comment__replies .unfold {
    width: 24px;
    height: 24px;
    margin-left: -5px;
    position: relative;
    margin-right: 5px;
    fill: #065fd4;
}

.comment__replies:hover {
    color: #444;
}

.comment__replies:hover .unfold {
    fill: #444;
}

.comment__replies:active {
    color: #000;
}

.comment__replies:active .unfold {
    fill: #000;
}

.comment__reply-row {
    margin-top: 5px;
    word-break: break-word;
    max-height: 88px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}

.comment__reply-row-author-name {
    font-weight: bold;
    display: inline-block;
    margin-right: 6px;
    max-height: 22px;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
}
