@media (max-width: 1559px) {
    .comment {
        max-width: 380px;
    }
}

@media (max-width: 839px) {
    .comment {
        max-width: 78vw;
    }
}

@media (max-width: 639px) {
    .comment {
        max-width: 75vw;
        margin: 0 0 10px 0;
    }

    .comment__wrap {
        display: flex;
    }

    .comment__wrap_negative {
        justify-content: flex-end;
    }

    .comment__wrap_positive .comment {
        background: #f4f5fb;
    }

    .comment__wrap_negative .comment {
        background: #fff0f0;
    }
}
