.comment {
    margin: 5px 5px 10px 5px;
    padding: 15px 17px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    font-size: 16px;
    line-height: 22px;
    max-width: 350px;
    overflow: hidden;
}

.comment__header {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
}

.comment__author {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment__date {
    color: #666;
    margin-left: 8px;
    cursor: help;
}

.comment__date:before {
    content: '•';
    display: inline-block;
    margin-right: 8px;
}

.comment__text-wrap {
    margin-top: 6px;
    word-wrap: break-word;
    max-height: 110px;
    overflow: hidden;
}

.comment__text-wrap_loose {
    overflow: visible;
    max-height: initial;
}

.comment__text_big {
    max-height: 88px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}

.comment__show-full {
    display: block;
    color: #666;
    font-size: 14px;
}

.comment__show-full:hover {
    color: #333;
}

.comment__show-full:active {
    color: #000;
}
