.create-comment-modal .modal-popup__content {
    max-width: 500px;
}

.create-comment-modal .form__row_columns .form__col {
    width: 50%;
}

.create-comment-modal__form .form__legal-text {
    user-select: none;
}
