.form {
    position: relative;
}

.form__loader {
    display: none;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    z-index: 2;
}

.form_state_busy:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 1;
}

.form_state_busy .form__loader {
    display: block;
    position: absolute;
}

.form__legal-text {
    font-size: 14px;
    color: #aaa;
    user-select: none;
}

.form__legal-text a {
    padding-left: 5px;
    color: #666;
}

.form__legal-text a:hover,
.form__legal-text a:active {
    color: #000;
}

.form__legal-text a:first-child {
    padding-right: 5px;
}

.form__row {
    display: block;
}

.form__row_columns {
    display: flex;
}

.form__row_center {
    text-align: center;
}

.form__label {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.form__col {
    display: flex;
    min-width: 50%;
    padding-right: 10px;
}

.input_check + .form__label {
    margin-bottom: 0;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form__col:last-child {
    padding-right: 0;
}

.form__checkbox {
    display: flex;
}

.form__col.form__checkbox {
    cursor: pointer;
}
