.form {
    position: relative;
}

.form__loader {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    z-index: 2;
}

.form_state_busy:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 1;
}

.form_state_busy .form__loader {
    display: block;
}

.form__legal-text {
    font-size: 14px;
    color: #aaa;
}

.form__row {
    display: block;
}

.form__row_columns {
    display: flex;
}

.form__row_center {
    text-align: center;
}

.form__label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    user-select: none;
}

.form__col {
    display: flex;
}

.form__col .form__label {
    margin-bottom: 0;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.form__col-check {
    line-height: 24px;
}

.form__col-check .form__label {
    display: block;
    flex-grow: 1;
    cursor: pointer;
}
