.reply-to-comment-modal .modal-popup__content {
    max-width: 500px;
}

.reply-to-comment-modal__form .input_textarea {
    height: 141px;
}

.reply-to-comment-modal__original-comment-text {
    line-height: 20px;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    position: relative;
    padding-left: 10px;
}

.reply-to-comment-modal__original-comment-text:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background: #ddd;
}
